/* general styling */

h1 {
  font-family: comfortaa, sans-serif;
  font-style: normal;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 2;
  text-align: center;
  color: white;
}

h3 {
  font-family: comfortaa, sans-serif;
  font-style: normal;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  color: #30475e;
}

h4 {
    font-family: comfortaa, sans-serif;
    font-style: normal;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    color: #30475e;
  }
p {
  font-family: comfortaa, sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  color: #30475e;
}

/* navigation bar */

.store-logo {
  max-width: 80%;
}

.nav-text {
  margin-top: 6px;
}

/* hero section */

#hero {
  background-color: #30475e;
  padding: 0;
  text-align: center;
}

.hero-text {
  margin: 10% auto;
}

.btn {
  margin: 10%;
}

.hero-picture {
  min-height: 100%;
  margin: 0;
}

/* how it works */

.how-it-works {
  margin: 2% auto;
  text-align: center;
}

#how-it-works-section {
  background-color: white;
  padding: 2% 15%;
}

#how-steps-img {
  margin: 5% auto;
  height: 80px;
  display: block;
}

.how-steps-text {
  color: #30475e;
  margin: 0 5% 5% 5%;
}

/* download */

#download {
  background-color: #30475e;
  text-align: center;
  padding: 2% 10%;
}

.download-text {
  color: white;
  text-align: left;
  margin: 10% 5%;
}

.download-image {
  margin: 5%;
}
.screens {
  margin: 10%;
  width: 40%;
  transform: rotate(20deg);
}

/* testimonials */

#testimonials {
  text-align: center;
  padding: 5% 20%;
}

.testimonials-image {
  width: 100px;
  border-radius: 50%;
  margin: 15px;
}

.testimonials-text {
  font-size: 2rem;
  line-height: 1.5;
  margin: 5%;
}

/* offers */

.offers {
    background-color: #30475e;
    padding: 2% 15%;
    text-align: center;
}

.card {
margin: 5%;

}

.offer-image {
    height: 120px;
    margin: 5%;
}

/* footer */

.footer {
  height: 200px;
}
