/* general styling */

body {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: comfortaa, sans-serif;
}

ul {
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 10px;
}

/* navigation bar */

.store-logo {
  max-width: 80%;
}

.nav-text {
  margin-top: 6px;
}

/* hero section */

#hero {
  background-color: #30475e;
  padding: 0;
}

.hero-text {
  margin: 10% auto;
  font-size: 2.5rem;
  line-height: 2;
  color: white;
}

.btn {
  margin: 10%;
  padding: 5% 10%;
}

.hero-picture {
  min-height: 100%;
  margin: 0;
}

/* how it works */

#how-it-works-section {
  background-color: white;
  padding: 2% 15%;
}

.how-it-works-title {
  font-size: 2rem;
  color: #30475e;
}

.how-it-works-moto {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #30475e;
}

#how-steps-img {
  margin: 5% auto;
  height: 80px;
  display: block;
}

.how-steps-step {
  font-size: 2rem;
  color: #30475e;
}

.how-steps-text {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #30475e;
  margin: 0 5% 5% 5%;
}

/* download */

#download {
  background-color: #30475e;
  padding: 2% 10%;
}

.download-text {
  color: white;
  text-align: left;
  margin: 10% 5%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
}

.download-image {
  margin: 5%;
}
.screens {
  margin: 10%;
  width: 40%;
  transform: rotate(20deg);
}

/* testimonials */

#testimonials {
  padding: 5% 20%;
}

.testimonials-image {
  width: 100px;
  border-radius: 50%;
  margin: 15px;
}

.testimonials-text {
  font-size: 2rem;
  line-height: 1.5;
  margin: 5%;
}

/* offers */

.offers {
  background-color: #30475e;
  padding: 2% 10%;
}

.offers-title {
  font-size: 2rem;
  color: white;
  margin-bottom: 2%;
}

.card {
  margin: 2%;
}

.offer-image {
  height: 120px;
  margin: 5%;
}

.offer-text {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #30475e;
}

/* order now */

.order-now {
  margin: auto;
}

.order-button {
  margin: 4%;
  padding: 1%;
}

/* footer */

.footer {
  background-color: #30475e;
  padding: 2% 10%;
  margin: 0 auto;
  text-align: left;
}

.footer-items {
  padding: 2% 5%;
}

.footer-links {
  color: white;
  font-size: 1.5rem;
}

.site-links {
  line-height: 2;
}

.site-link {
  color: white;
  text-decoration: none;
}

.contact-text {
  color: white;
  text-align: left;
  font-size: 0.8rem;
  line-height: 1.5rem;
  padding-right: 30%;
  margin-bottom: 2%;
}

.social-icons {
  margin: 10px;
  height: 40%;
}
